---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={tag}>
  <div class="tags">
    <p>Topics:</p>
    {tags.map((tag) => <a href={`/posts/${tag}`}>{tag}</a>)}
  </div>

  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <Post
          url={"/posts/" + post.slug}
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
        />
      ))
    }
  </ul>
</Layout>

<style>
  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
